.product {
  width: 300px;
  height: 508px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.product img {
  height: 286px;
  width: 286px;
  border-radius: 8px;
  margin: 7px;
}

.product-info {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.product-name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
}

.product-price {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  color: #0e161a;
}

.product-other-info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.004em;
  color: #2a414f;
}

.btn-cart {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
}

.btn-cart:hover {
  background-color: orange;
}
